
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>区域类别管理</title>
    <link href="~/Page/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Page/css/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/Page/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Page/jquery-3.4.1.min.js"></script>
    <script src="~/Page/bootstrap.min.js"></script>
    <script src="~/Page/bootstrap-table.min.js"></script>
    <script src="~/Page/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/Page/bootstrap-datetimepicker.js"></script>
    <script src="~/Page/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body>
    <div>
        <a>区域类别名称</a>
        <input id="AreaTypeName" type="text" value="" />

        <button id="btnSel" onclick="refresh()" type="button">查询</button>
        <button id="btnIns" onclick="add_AreaTypeInfo()" type="button">添加</button>
        <br />

        <table id="tableAreaType"></table>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="Modal_upd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">修改区域类别</h4>
                    </div>
                    <div class="modal-body">

                        <a>区域类别名称</a>
                        <input type="text" class="form-control" id="AreaTypeName_upd" placeholder="">
                        <br />
                        <a>区域类别说明</a>
                        <input type="text" class="form-control" id="AreaTypeReMark_upd" placeholder="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" onclick="upd_AreaTypeInfo_post()" class="btn btn-primary">更改</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!-- 添加模态框（Modal） -->
        <div class="modal fade" id="Modal_add" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">添加区域类别</h4>
                    </div>
                    <div class="modal-body">

                        <a>区域类别名称</a>
                        <input type="text" class="form-control" id="AreaTypeName_add" placeholder="">
                        <br />
                        <a>区域类别说明</a>
                        <input type="text" class="form-control" id="AreaTypeReMark_add" placeholder="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" onclick="add_AreaTypeInfo_post()" class="btn btn-primary">添加</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>


    </div>


    <script>
        $(document).ready(function () {
            $("#tableAreaType").bootstrapTable({
                url: "/Property/sel_AreaTypeInfo",  //请求地址
                queryParams: function (params) {
                    //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                    var temp = {
                        AreaTypeName: $("#AreaTypeName").val()
                    };
                    return temp;
                },
                striped: true, //是否显示行间隔色
                pageNumber: 1, //初始化加载第一页
                pagination: true,//是否分页
                sidePagination: 'client',//server:服务器端分页|client：前端分页
                pageSize: 5,//单页记录数
                pageList: [5, 10],//可选择单页记录数
                showRefresh: true,//刷新按钮
                columns: [
                    { title: '编号', field: 'AreaTypeId', sortable: true, align: 'center' },
                    { title: '类别名称', field: 'AreaTypeName', sortable: true, align: 'center' },
                    { title: '备注', field: 'AreaTypeReMark', sortable: true, align: 'center' },
                    {
                        title: '操作', field: '', align: 'center', formatter: function (value, row, index) {
                            return '<button type="button" id="btnDel" class="btn btn-default" onclick="del_AreaTypeInfo(' + row['AreaTypeId'] + ')" >删除</button><button type="button" id="btnEdit" class="btn btn-default" onclick="upd_AreaTypeInfo(' + index + ')">编辑</button>';
                        }
                    }
                ]
            })
        })


        function del_AreaTypeInfo(AreaTypeId) {
            if (confirm("确认删除？")) {
                $.ajax({
                    type: "POST",
                    url: "/Property/del_AreaTypeInfo",
                    data: { AreaTypeId: AreaTypeId },
                    success: function (msg) {
                        if (msg == -1) {
                            alert("删除失败!");
                        }
                        else {
                            alert("删除成功！");
                            refresh();
                        }
                    }
                })
            }
        }

        function refresh() {
            $("#tableAreaType").bootstrapTable('refresh');
        }

        function add_AreaTypeInfo() {
            $("#Modal_add").modal("show");
        }

        function add_AreaTypeInfo_post() {

            var AreaTypeName = $("#AreaTypeName_add").val();
            var AreaTypeReMark = $("#AreaTypeReMark_add").val();

            $.ajax({
                type: "POST",
                url: "/Property/add_AreaTypeInfo",
                data: { AreaTypeName: AreaTypeName, AreaTypeReMark: AreaTypeReMark },
                success: function (msg) {
                    if (msg > 0) {
                        alert("添加成功！");
                        refresh();
                        $("#Modal_add").modal("hide");
                    }
                    else {
                        alert("添加失败！");
                    }
                }
            })

        }


        var upd_AreaTypeId = -1;


        function upd_AreaTypeInfo(index) {

            var row = $("#tableAreaType tbody tr[data-index='" + index + "'] td");

            upd_AreaTypeId = $(row[0]).text();
            var AreaTypeName = $(row[1]).text();
            var AreaTypeReMark = $(row[2]).text();

            $("#AreaTypeName_upd").val(AreaTypeName);
            $("#AreaTypeReMark_upd").val(AreaTypeReMark);

            $('#Modal_upd').modal('show');
        }

        function upd_AreaTypeInfo_post() {

            var AreaTypeId = upd_AreaTypeId;
            var AreaTypeName = $("#AreaTypeName_upd").val();
            var AreaTypeReMark = $("#AreaTypeReMark_upd").val();

            $.ajax({
                type: "POST",
                url: "/Property/upd_AreaTypeInfo",
                //deptname_upd  selCampus_upd   deptremark_upd
                data: { AreaTypeId: AreaTypeId, AreaTypeName: AreaTypeName, AreaTypeReMark: AreaTypeReMark },
                success: function (msg) {
                    if (msg == -1) {
                        alert("修改失败!");
                    }
                    else {
                        alert("修改成功!");
                    }
                    $('#Modal_upd').modal('hide');
                    refresh();
                }
            })
        }

    </script>
</body>
</html>
